body {
  /* background: url(../../assets/bgColor.svg) no-repeat; */
  background-position: center;
  background-size: cover;
}

.login-container {
  width: 100%;
  /* max-width: 1120px; */
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container section.form {
  width: 95%;
  height: 100vh;
  padding: 60px;
  margin-right: 160px;
  text-align: center;
  background: #00002e;
  display: flex;
  align-items: center;
}

.login-container section.form .logo-img {
  width: 250px;
}

.login-container section.form form {
  margin-top: 50px;
  text-align: center;
}

.login-container section.form form h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px;
  text-align: justify;
  color: white;
}

.login-container section.form form a {
  margin-top: 30px;
  color: var(--primaryColor);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.login-container section.form form a:hover {
  opacity: 0.8;
}

.login-container section.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.login-container section.info .colab-img {
  width: 460px;
}

.login-container section.info p {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 939px) {
  body {
    background: #ffffff !important;
  }
  .login-container section.form {
    background: #ffffff;
  }

  .login-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'info' 'form';
    align-items: center;
    justify-content: center;
  }

  .login-container section.info {
    grid-area: info;
    position: absolute;
    top: 20px;
    color: #00002e;
  }

  .login-container section.info .logo-img {
    width: 200px;
  }

  .login-container section.info p {
    width: 300px;
  }

  .login-container section.form {
    grid-area: form;
    width: 100%;
  }

  .login-container section.form form h1 {
    color: #00002e;
  }

  .login-container section.form form {
    position: absolute;
    top: 370px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
  }

  .login-container .colab-img {
    display: none;
  }

  .login-container section.form form input {
    border: 1px solid #00002e;
    color: #00002e;
  }

  .login-container section.form form input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00002e;
    opacity: 1; /* Firefox */
  }

  .login-container section.form form .button {
    background: #00002e;
    color: white;
  }
}
